@model MainViewModel
<section id="trainer" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1.3s">
                <h2>Наши тренеры</h2>
            </div>
            @if (Model.Trainers != null)
            {
                @foreach (var trainer in Model.Trainers)
                {
                    <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1.9s">
                        <div class="trainer-thumb">
                            <img src="~/@trainer.Photo" class="img-responsive" alt="Trainer">
                            <div class="trainer-overlay">
                                <div class="trainer-des">
                                    <h2>@trainer.Name</h2>
                                    <h3>@trainer.Category.Name</h3>
                                    <h4>Пол: @trainer.Gender.Name</h4>
                                    <h5>Возраст: @Declension.DeclensionByNumeral(trainer.GetAge(), new string[3] { "год", "года", "лет" }) </h5>
                                    <ul class="social-icon">
                                        <li><a href="@trainer.VKontakteUrl" class="fa fa-vk wow fadeInUp" data-wow-delay="1s"></a></li>
                                        <li><a href="@trainer.InstagramUrl" class="fa fa-instagram wow fadeInUp" data-wow-delay="1.3s"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p style=" max-height: auto; overflow: hidden;">
                            <div style=" max-height: 100%; overflow: hidden;">
                                <h2>Описание</h2>
                                @Html.Raw(trainer.Description)
                                <h2>Расписание</h2>
                                @if (trainer.Schedules != null)
                                {
                                    <ul>
                                        @foreach (var schedule in trainer.Schedules)
                                        {
                                            <li><p style="text-align: left;">@schedule.DayOfWeek.Name - @schedule.From:00 - @schedule.Until:00</p></li>
                                        }
                                    </ul>
                                }
                            </div>
                        </p>
                    </div>
                }
            }
        </div>
    </div>
</section>